
<div class="row">
<div class="col-md-4" *ngFor="let p of listProduct, let i=index">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">ID</h5>
      <p class="card-text" >{{p.id}}</p> 
      <h5 class="card-title">Title</h5>
      <p class="card-text">{{p.title}}</p> 
      <h5 class="card-title">Price</h5>  <!--Price: {{p.price}} najem naaml juste haka maghir ma naaml h5 yjini kima titre -->
      <p class="card-text">{{p.price}}</p>
      <h5 class="card-title">Quantity</h5>
      <p class="card-text">{{p.quantity}}</p>
      <h5 class="card-title">Like</h5>
      <p class="card-text">{{p.like}}</p>
      <button class="btn btn-primary" (click)="buy(i)" [disabled]="p.quantity==0" >Buy</button>
      <button class="btn btn-primary" (click)="like(i)">Like</button>  
    </div>
  </div>
</div>




 